<pip-document>
    <div class="pip-body p24  layout-column flex">
        <form name="form" novalidate class="md-block layout-column flex">

            <div ng-show="$ctrl.error" class="pip-page-errors">
                <span class="pip-error-text color-error flex {{ $ctrl.pipMedia('gt-sm') ? '' : 'bp16'}}"> {{
                    $ctrl.error | translate }}</span>
                <md-icon md-svg-icon="icons:warn-circle" class="color-error" ng-if="$ctrl.pipMedia('gt-sm')"></md-icon>
            </div>


            <md-input-container class="md-block flex-fixed bm0">
                <label>{{::'ZONE_NAME_LABEL' | translate}}</label>
                <input iqs-test-name ng-model="$ctrl.zone.name" ng-disabled="$ctrl.ngDisabled()" name="zoneName"
                       required iqs-unique-validator iqs-unique-collection="$ctrl.nameCollection">

                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.form, $ctrl.form.zoneName, true)" role="alert">
                    <div ng-message="required">{{ 'ZONE_NAME_REQUIRED_ERROR' | translate }}</div>
                    <div ng-message="uniqueValidate">{{ 'ZONE_NAME_UNIQUE_ERROR' | translate }}</div>
                </div>
            </md-input-container>

            <div class="flex" style="position: relative; min-height: 300px;">
                <pip-map-edit iqs-test-container-map ng-if="$ctrl.mapOptions && $ctrl.zone && !$ctrl.startPause"
                              pip-on-edit="$ctrl.onEdit(overlay, type, path, center, radius)" pip-show-action-panel="false"
                              pip-overlay="$ctrl.zone" pip-map-options="$ctrl.mapOptions" pip-control="$ctrl.setControl(control)"
                              pip-disabled-polygons="$ctrl.polygons" pip-disabled-polygons-options="$ctrl.zoneOptions"
                              pip-disabled-polylines="$ctrl.lines" pip-disabled-polylines-options="$ctrl.zoneOptions"
                              pip-disabled-circles="$ctrl.circles" pip-disabled-circles-options="$ctrl.zoneOptions">
                </pip-map-edit>

                <div class="iqs-map-edit-zoom-buttons layout-column">
                    <md-button aria-label="ZoomIn" ng-click="$ctrl.onZoomIn()" class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="left">
                            {{ ::'ZONE_ZOOM_IN' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:plus" aria-label="ZoomIn"></md-icon>
                    </md-button>
                    <md-button aria-label="ZoomOut" ng-click="$ctrl.onZoomOut()" class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="left">
                            {{ ::'ZONE_ZOOM_OUT' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:minus" aria-label="ZoomOut"></md-icon>
                    </md-button>
                </div>

                <div class="iqs-map-edit-overlay-buttons layout-column">
                    <md-button iqs-test-tool-pan aria-label="DrawCircle" ng-click="$ctrl.selectSection(3)" ng-class="{'md-accent': $ctrl.section === 3 }"
                               class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_PAN' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-pan" aria-label="DrawCircle"></md-icon>
                    </md-button>
                    <md-button iqs-test-tool-circle aria-label="DrawCircle" ng-click="$ctrl.selectSection(0)" ng-class="{'md-accent': $ctrl.section === 0 }"
                               class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_DRAW_CIRCLE' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-circle" aria-label="DrawCircle"></md-icon>
                    </md-button>
                    <md-button iqs-test-tool-line aria-label="DrawLine" ng-click="$ctrl.selectSection(2)" ng-class="{'md-accent': $ctrl.section === 2 }"
                               class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_DRAW_LINE' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-line" aria-label="DrawLine"></md-icon>
                    </md-button>
                    <md-button iqs-test-tool-polygon aria-label="DrawPolygon" ng-click="$ctrl.selectSection(1)"
                               ng-class="{'md-accent': $ctrl.section === 1 }" class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_DRAW_POLYGON' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-polygon" aria-label="DrawPolygon"></md-icon>
                    </md-button>
                </div>

                <div class="iqs-map-edit-clear-buttons layout-column">
                    <md-button iqs-test-tool-clear aria-label="ClearMap" ng-click="$ctrl.clearMap()" class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_CLEAR_MAP' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="iqs:draw-clear" aria-label="ClearMap"></md-icon>
                    </md-button>
                </div>

                <div class="iqs-map-edit-center-buttons layout-column">
                    <md-button iqs-test-tool-center aria-label="ClearMap" ng-click="$ctrl.toCenter()" class="md-fab md-raised md-mini">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{ ::'ZONE_TO_CENTER' | translate }}
                        </md-tooltip>
                        <md-icon md-svg-icon="icons:target" aria-label="ClearMap"></md-icon>
                    </md-button>
                </div>
            </div>

            <md-input-container class="md-block bm0" ng-if="$ctrl.zone.type == 'line' || $ctrl.zone.type == 'polyline'">
                <label>{{ ::'ZONE_LINE_DISTANCE_LABEL' | translate }} ({{ ::'ZONE_LINE_DISTANCE_MEASURE' | translate
                    }})</label>
                <input iqs-test-distance ng-model="$ctrl.zoneDistance" ng-change="$ctrl.error=''" required ng-pattern="/^[0-9]{1,7}$/"
                       md-maxlength="4" name="conditionPresence" />

                <div ng-messages="$ctrl.touchedErrorsWithHint($ctrl.form, $ctrl.form.conditionPresence, true)" role="alert">
                    <div ng-message="required">{{ 'ZONE_LINE_DISTANCE_REQUIRED_ERROR' | translate }}</div>
                    <div ng-message="pattern">{{ 'ZONE_LINE_DISTANCE_NOTVALID_ERROR' | translate }}</div>
                </div>
            </md-input-container>
        </form>
    </div>

    <div class="pip-footer " style="height: 86px">
        <div class="pip-action-list w-stretch">
            <md-button iqs-test-save class="pip-action-list-item" ng-click="$ctrl.onSaveClick()" ng-disabled="$ctrl.ngDisabled()">
                <md-icon class="pip-pic" md-svg-icon="icons:check"></md-icon>
                <div class="pip-title">{{'ZONE_SAVE' | translate }}</div>
            </md-button>
            <md-button iqs-test-cancel class="pip-action-list-item" ng-click="$ctrl.onCancelClick()" ng-disabled="$ctrl.ngDisabled()">
                <md-icon class="pip-pic" md-svg-icon="icons:cross"></md-icon>
                <div class="pip-title">{{'ZONE_CANCEL' | translate}}</div>
            </md-button>
        </div>
    </div>
</pip-document>