<md-dialog class="pip-dialog layout-column bp0 pip-scroll" style="height: 80%" md-theme="{{$ctrl.theme}}">

	<div class="pip-header p16 divider-bottom">
		<div class="w-stretch">
			<h3 class="m0 bm16 w-stretch">{{ ::$ctrl.dialogTitle | translate }}</h3>
			<iqs-global-search-panel iqs-search-query="$ctrl.status" iqs-search-callback="$ctrl.onSearchResult(query)"
			                         iqs-cancel-callback="$ctrl.onCanselSearch()" iqs-default-values="$ctrl.defaultCollection"
			                         iqs-search-collection="$ctrl.searchedCollection">
			</iqs-global-search-panel>
		</div>
	</div>

	<div class="pip-body lp0 rp0">
		<md-list class="pip-ref-list tp0">
			<md-list-item class="pip-ref-list-item divider-bottom" md-ink-ripple ng-repeat="section in $ctrl.collection track by section.id"
			              ng-click="$ctrl.selectItem($index)">

				<div class="rm16" ng-if="section.item.severity || $ctrl.severityCollection[section.item.severity]">
					<md-icon md-svg-icon="{{ $ctrl.severityCollection[section.item.severity].icon }}" class="{{ $ctrl.severityCollection[section.item.severity].class }}">
					</md-icon>
				</div>
				<div class="pip-content content-details" ng-click="$ctrl.selectItem($index)" style="width: calc(100% - 72px);">
					<p class="text-body2 text-overflow flex">
						{{ section.item.name }}
					</p>
					<p class="pip-subtitle text-overflow flex">
						<!--rule description-->
						{{ section.item | formatObjectsList }}
					</p>
				</div>
				<div>
					<md-checkbox ng-model="section.checked" class="bm0">
					</md-checkbox>
				</div>
			</md-list-item>
		</md-list>

	</div>

	<div class="pip-footer ">
		<!-- <md-button ng-click="$ctrl.config()" ng-if="$ctrl.configState">{{ ::'CONFIG' | translate }}</md-button> -->
		<div class="flex"></div>
		<md-button class="md-accent" ng-click="$ctrl.cancel()">{{ ::'CANCEL' | translate }}</md-button>
		<md-button class="md-accent" ng-click="$ctrl.change()">{{ ::$ctrl.addButtonLabel | translate }}</md-button>
	</div>
</md-dialog>