@import './locations/Locations.scss';
@import './zone_objects/ZoneObjects';
@import './zones/Zones';
iqs-settings-usage-statistics-panel {
    height: 100%;
    position: absolute;
    width: 100%;
}

.iqs-config {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    .pip-main-menu {
        height: 100%;
    }
}